
/* CSS for UI, more CSS can be added to make UI better.
*/
.ss-headers{
    -fx-border-style: dashed;
    -fx-border-color: #989898;
    -fx-border-width: 1.5px;
}
.ss-headers .label{
    -fx-background-color: #989898;
    -fx-text-fill: white;
    -fx-padding: 5px;
}

.tagname-hbox{
    -fx-background-color:aqua;
    -fx-font-family: fantasy;
}